body {
    margin: 0;
}

.header {
    background-color:#e7452c;
    height: 4rem;
    margin-bottom: 5rem;
}

#logo {
    padding-top: 10px;
    padding-left: 30px;
}

.header > input {
    float: right;
    padding: 10px;
    margin-top: 30px;
    margin-right: 15px;
    border: none;
    font-size: 14px;
    border-radius: 1rem ;
}

.App {
    width: 900px;
    margin: 0 auto;
}

.cardLink {
    text-decoration: none;
}

.cardLink:active {
    color: #5521a8;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media (max-width: 900px) {
    .cards{
        flex-direction: column;
    }
}


.card {
    width: 200px;
    height: 500px;
    margin: 2px;
    padding: 8px;
    border: 1px solid ;
    color: snow;
}

.card > h2 {
    text-align: center;
}

.card > p {
    text-align: center;
}
.card > ul {
    text-align: start;
    list-style-type: none;
}

.card > img {
    align-content: center;
}

