.App{
    width: 900px;
    margin: 0 auto;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

@media (max-width: 500px){
    .cards{
        flex-direction: column;
    }
}

.cardLink{
    text-decoration: none;
}

.cardLink:active{
    color: #5521a8;
}

.card{
    margin: 2px;
    padding: 8px;
    border: 1px solid ;
    background-color: black;

}

.card > h1{
    text-align: center;
}

.card > p{
    text-align: center;
}
.card > ul {
    
    list-style-type: none;
}

.card > li{
    
    
}